/* homepage.html */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.test {
    background-image: url("back.jpg");
    color: #ffffff;
    font-size: larger;
    background-repeat: no-repeat;
    background-size: cover;
}

.ch{
    text-align: center;
    color: #0077b6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
}

.dif{
    display: flex;
    margin: 20px;
}

.bod{
    margin: 25px;
}

.photo{
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px;
}

.button{
    text-align: center;
    padding: 10px 20px;
}

a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: white;
}
a:active{
    text-decoration: none;
    color: white;
}

button{
    background-color: white;
    border: 2px solid #0077b6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover{
    background-color: #0077b6;
    color: #ffffff;             
}



/* easy.html */
* {
    box-sizing: border-box;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides{
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    animation: fade 1.5s;
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

.question {
    height: 100%;
    width: 100%;
    margin-left: 20px;
}
.buttons {
    display: flex;
}

.questioan {
    text-align: center;
    color: #faedcd;
    font-size: larger;
}

.choice {
    margin-top: 10px;
    margin-bottom: 10px;
}

.current {
    text-size-adjust: bold;
}
/* timer */
#timer {
    font-size: 48px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 200px;
    margin-top: 4%;
}

/* score */

.result {
    margin: auto;
    width: fit-content;
    text-align: center;
}

rect {
    fill: transparent;
}

text {
    fill: #adadad;
}

#piechart{
    margin: auto;
    width: fit-content;
}